html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000;
  position: relative;
}

.main-body {
  margin-top: 10px;
}

a {
  color: #337ab7;
}

a:hover {
  text-decoration: none;
}

.form-control {
  border: none;
  border-radius: 0;
}

.navbar {
  color: #337ab7;
  background-color: #E6E6E6;
  padding: 20px 80px;
  margin-bottom: 20px;
}

#logo {
  font-weight: 700;
  font-size: 3em;
  color: #337ab7;
}

.main-container {
  margin-top: 100px;
  padding: 10px;
}

.test {
  border: solid 3px #000;
}

.search-result {
  height: 50px;
  background-color: #E6E6E6;
  color: #000;
  margin-top: 4px;
  margin-bottom: 4px;
}

.restaurant-info {
  height: auto;
  background-color: #E6E6E6;
  color: #000;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 20px;
}

.restaurant-name {
  font-weight: 700;
  font-size: 1.75em;
}

.restaurant-rating {
  font-size: 1.55em;
}

.restaurant-location {
  font-size: 1.55em;
}

.restaurant-price {
  font-size: 1.55em;
}

.glyphicon {
  font-size: 1.5em;
}

.btn {
  vertical-align: bottom;
  border: none;
  background: #FFF;
  color: #337AB7;
  border-radius: 0;
}

.btn:hover {
  color: #FFF;
  background: #337AB7;
  border: none;
}

.meal-review {
  height: auto;
  background-color: #E6E6E6;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.meal-rating {
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
}

.dish-name {
  font-weight: 700;
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.review-image {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.review-text {
  font-size: 1.4em;
  margin-top: 35px;
  margin-bottom: 20px;
}

.submit-form {
  height: auto;
  background-color: #E6E6E6;
  color: #000;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 20px;
}

.review-textbox {
  width: 100%;
  height: 200px;
}

.review-image {
  max-width: 600px;
}

.column-headings span {
  font-size: 1.4em;
  font-weight: 700;
}

.landing-image {
  background: url(../app/assets/background_crop.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
}

.landing-area {
  margin: 0px;
  padding: 0px;
}

.landing-message-box {
  background: rgba(0,0,0,0.7);
  margin-top: 100px;
  margin-bottom: 10px;
  padding-top: 75px;
  height: 500px;
  color: #FFF;
  text-align: center;
}

.landing-message-box h1 {
  font-size: 4em;
}

.landing-section-white {
  padding-bottom: 150px;
  padding-top: 50px;
  height: auto;
}

.landing-section-grey {
  background-color: #D2D2D2;
  padding-bottom: 150px;
  padding-top: 50px;
  height: auto;
}

.navbar-spacer {
  height: 90px;
}

.screenshot {
  width: 100%;
}

.screenshot-caption {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}



