html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000;
  position: relative;
}

a {
  color: #337ab7;
}

a:hover {
  text-decoration: none;
}

input {
  border: none;
}

#navbar {
  background-color: #E6E6E6;
  margin-bottom: 10px;
}

#navbar h1 {
  font-weight: 300;
  font-size: 3em;
  margin: .55em 0;
}

#navbar a {
  text-decoration: none;
}

.navbarbutton {
  border: none;
  background: #FFF;
  padding: 0px;
  margin-top: 40px;
  padding: 0px 10px 0px 10px;
  margin-left: 5px;
  color: #337AB7;
}

.navbarbutton:hover {
  color: #FFF;
  background: #337AB7;
  border: none;
}

.navbarSearch {
  float: right;
  height: 100%;
  padding: 2px;
}

.spacer {
  height: 100%;
  padding: 2px;
  position: relative;
}

.test {
  border: solid 1px #000;
}

.search-result {
  height: 50px;
  background-color: #E6E6E6;
  color: #000;
  margin-top: 4px;
  margin-bottom: 4px;
}

.restaurant-info {
  height: auto;
  background-color: #E6E6E6;
  color: #000;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.restaurant-name {
  font-weight: 700;
  font-size: 1.75em;
}

.restaurant-rating {
  font-size: 1.55em;
}

.restaurant-location {
  font-size: 1.55em;
}

.restaurant-price {
  font-size: 1.55em;
}

.glyphicon {
  font-size: 1.5em;
}

.reviewsubmit {
  vertical-align: bottom;
  border: none;
  background: #FFF;
  color: #337AB7;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviewsubmit:hover {
  color: #FFF;
  background: #337AB7;
  border: none;
}

.meal-review {
  height: auto;
  background-color: #E6E6E6;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.meal-rating {
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
}

.dish-name {
  font-weight: 700;
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.review-image {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.review-text {
  font-size: 1.4em;
  margin-top: 35px;
  margin-bottom: 20px;
}

.submit-form {
  height: auto;
  background-color: #E6E6E6;
  color: #000;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.review-textbox {
  width: 100%;
  height: 200px;
}

.review-image {
  max-width: 600px;
}

.review-submit-button {
  border: none;
  background: #FFF;
  padding: 0px;
  margin-top: 40px;
  padding: 0px 10px 0px 10px;
  margin-left: 5px;
  color: #337AB7;
}

.review-submit-button:hover {
  color: #FFF;
  background: #337AB7;
  border: none;
}

.column-headings span {
  font-size: 1.4em;
  font-weight: 700;
}
