<!DOCTYPE html>

<html ng-app="infoodity">

<head>
  <meta charset="utf-8" />

  <title>infoodity</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>

</head>

<!--REMOVE EVERYTHING ABOVE THIS BEFORE INTEGRATION-->

<div class="row meal-review" ng-repeat="review in results | orderBy: 'stars'">
  <span class="review-stats col-md-3">
    <div>
      <span class="dish-name">{{review.dishname}}</span>
    </div>
    <div>
      <img src="../../../test_images/meal01_200x200.jpg" class="review-image">
    </div>
    <div>
      <span class="glyphicon glyphicon-star"></span><span>
      <span class="glyphicon glyphicon-star"></span><span>
      <span class="glyphicon glyphicon-star"></span><span>
    </div>
  </span>
  <span class="review-text col-md-7">
    <p>{{review.reviewText}}</p>
  </span>
</div>







<!-- <div id='container'> -->
  <!-- <ul class='reviews'> -->
    <!-- <h3>Reviews</h3> -->
    <!-- <div class="row col-md-10 search-result"> -->
      <!-- <div> -->
        <!-- <li class='review' ng-repeat="review in results | orderBy: 'stars'"> -->
          <!-- <span class="restaurantName">{{review.dishname}}, {{review.stars}} stars</span> -->
          <!-- <span class="restaurantLocation pull-right">{{review.reviewText}}</span> -->
        <!-- TODO change ng-repeat statement acc. to data available -->
    <!-- TODO change location relative to neighborhood/link to map/exact address -->
        <!-- </li> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </ul> -->
<!-- </div> -->



<!--     <div class="star-rating">
      <span class="glyphicon glyphicon-star"></span><span>
      <span class="glyphicon glyphicon-star"></span><span>
      <span class="glyphicon glyphicon-star"></span><span>
      <span class="glyphicon glyphicon-star-empty"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
 -->
