<div class="row submit-form">


    <h4>Upload Image:</h4>
    <input type="file" name="image" class="image"></input>
    <br></br>
    <h4>Dish Name:</h4>
    <textarea class="review-dishname" ng-model="dishname"></textarea>
    <h4>Review:</h4>
    <textarea class="review-textbox" ng-model="review"></textarea>
    <h4>Out of 5 stars, this dish was a..</h4>
    <textarea class="review-dishname" ng-model="stars"></textarea>
    <br></br>

    <button class="review-submit-button" ng-click="sendReview()">Submit</button>


</div>


